.body {
    background-color: #121212;
    font-family: sans-serif;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}